<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./output.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <style>
      body {
        font-family: "Jersey 10";
      }
    </style>
</head>
<body class="bg-amber-950/40">
    
    <form class="bg-white w-96 mx-auto p-3 mt-10" method="POST">
        <p class="text-4xl text-center mt-3">Sign Up</p>
        <p class="text-center">Create your Account</p>
        <div class="px-10 mt-5 flex flex-col gap-2">

          <input type="text" class="border w-full px-2 hover:bg-amber-950/10 active:bg-amber-950/20 focus:bg-amber-950/10 transition-all focus:outline-0 focus:ring-amber-950/50 text-amber-950/80 focus:ring-1" placeholder="Username">
          <input type="password" class="border w-full px-2 hover:bg-amber-950/10 active:bg-amber-950/20 focus:bg-amber-950/10 transition-all focus:outline-0 focus:ring-amber-950/50 text-amber-950/80 focus:ring-1" placeholder="Password">
        </div>

        <div class="w-fit mx-auto">

          <button
          class="bg-amber-950/80 px-3 mt-5 mb-2  text-xl border-4 border-amber-950 text-white rounded-sm hover:scale-105 transition-all hover:bg-amber-950/70 hover:border-amber-950/70 hover:text-white/90 active:bg-white/80 active:text-amber-950 active:border-amber-950"
        >
          Sign Up
        </button>
        </div>
    </form>
</body>
</html>